* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIÁVEIS PADRÃO */
:root {
    --bg: #f6ead8;
    --text: #2f2f2f;
    --border: #2f2f2f;
}

/* BASE */
body {
    min-height: 100%; /* CORRETO PARA MOBILE */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;

    background-color: #e8c39e;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: "Lora", "Times New Roman", serif;
    color: var(--text);
}

.container {
    width: 700px;
    max-width: 90%;
    min-height: 720px;

    padding: 50px 30px;

    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);

    border-radius: 30px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.back-button {
    position: absolute;
    left: 25px;
    transform: none;

    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    text-decoration: none;

    color: var(--text);
    background-color: var(--bg);

    border: 2px solid var(--border);
    border-radius: 50%;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    transition: 0.2s;
}

.back-button:hover,
.back-button:focus-visible {
    background-color: var(--border);
    color: var(--bg);
    outline: none;
}

/* LOGO */
.logo {
    text-align: center;
    margin-bottom: 25px;
}

.logo img {
    max-width: 200px;
    margin-bottom: 30px;
}

/* TÍTULO */
.title {
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

/* SERVIÇOS */
.services {
    width: 100%;
    max-width: 300px;
    align-items: center;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* BOTÕES */
.service {
    appearance: none;
    background: none;
    border: 2px solid var(--border);
    border-radius: 40px;

    padding: 18px 24px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: inherit;
    font-size: 15px;
    letter-spacing: 2px;
    color: var(--text);
    text-decoration: none;

    cursor: pointer;
    transition: 0.2s;
}
.service:hover,
.service:focus-visible {
    background-color: var(--border);
    color: var(--bg);
    outline: none;
}

/* MOBILE */
@media (max-width: 768px) {
    .container {
        width: 100%;
        min-height: auto;
        border-radius: 20px;
        padding: 40px 20px;
        margin-bottom: 40px;
    }
}